
extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros",class="img-fluid")      
            .col-md-7
                h1 #{pagina}
                
                blockquote  ipsagittum a efaugue iaculis sit amet. In ac ligula nec naugue iaculis sit amet. In ac ligula nec nficitur eget, finibus eget ipsum. Phasellus dictum purus vel quam ullamcorper faucibus. Aenean non cursus nulla. Sed sed vulputate purus, ut molestie mauris. Integer ullamcorper efficitur hendrerit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

                p pot vitaugue iaculis sit amet. In ac ligula nec naugue iaculis sit amet. In ac ligula nec naugue iaculis sit amet. In ac ligula nec naaugue iaculis sit amet. In ac ligula nec ne augue iaculiaugue iaculis sit amet. In ac ligula nec ns sit amet. In ac ligula nec augue iaculis sit amet. In ac ligula nec nn augue iaculis sit amet. In ac ligula nec n
               
                p vit tincidaugue iaculis sit amet. In ac ligula nec nunt varius eget quis orci. Fusce neque leo, interdum eu laoreet quis, lobortis at mauris. Aenean ipsum odio, fermentum non nisi ut, ullamcorper consequat ligula. Nam varius elementum lectus, eget pretium lacus varius et. Integer nisi augue, vehicula ac egestas sed, finibus quis velit. Aenean tempus luctus rutrum. Mauris at neque vel nisl scelerisque molestie vitae sit amet eros. Ut eget mollis diam, vitae faucibus velit. Pellentesque mollis bibendum nibh, et tempus augue iaculis sit amet. In ac ligula nec neque venenatis facilisis. Aliq

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg",alt="icono seguridad",class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p  cidaugue iac cidaugue iaculis sit amet. In ac ligula nec nunt varius eget quis o ulis sit amet. In ac ligula nec nunt varius eget quis o

                .col-md-4
                    img(src="img/icono_destinos.svg",alt="icono seguridad",class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p  cidaugue iac cidaugue iaculis sit amet. In ac ligula nec nunt varius eget quis o ulis sit amet. In ac ligula nec nunt varius eget quis o
                    
                .col-md-4
                    img(src="img/icono_precios.svg",alt="icono seguridad",class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p  cidaugue iac cidaugue iaculis sit amet. In ac ligula nec nunt varius eget quis o ulis sit amet. In ac ligula nec nunt varius eget quis o
                    